/bin
/env
/etc
/lib/tdbus
/lib/postgresql
/requirements.txt
/README
.svn
.classpath
.project
.settings
/trt.iml
/storm
/var
/src/com/tencent/application
/src/com/tencent/graph
*.sqlite
/ide/env
/ide/secret.txt